[submodule "Snow/vendor/spdlog"]
	path = Snow/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Snow/vendor/imgui"]
	path = Snow/vendor/imgui
	url = https://github.com/JamesStroebe/imgui
[submodule "Snow/vendor/GLFW"]
	path = Snow/vendor/GLFW
	url = https://github.com/JamesStroebe/glfw
[submodule "Snow/vendor/stb"]
	path = Snow/vendor/stb
	url = https://github.com/JamesStroebe/stb
[submodule "Snow/vendor/SPIRV-Cross"]
	path = Snow/vendor/SPIRV-Cross
	url = https://github.com/JamesStroebe/SPIRV-Cross
[submodule "Snow/vendor/yaml-cpp"]
	path = Snow/vendor/yaml-cpp
	url = https://github.com/JamesStroebe/yaml-cpp
[submodule "Snow/vendor/glm"]
	path = Snow/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Snow/vendor/ImGuizmo"]
	path = Snow/vendor/ImGuizmo
	url = https://github.com/JamesStroebe/ImGuizmo
[submodule "Snow/vendor/box2d"]
	path = Snow/vendor/box2d
	url = https://github.com/erincatto/box2d
